[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
scrapy = "*"
pymongo = "*"
htmlmin = "*"
validators = "*"
"w3lib" = "*"

[requires]
python_version = "3.6"
